
<div class="flags-content">  
  <% @leagues.each do |league| %>
    <%= div_for league do %>
      <%= link_to league_matches_path(league) do %>
      <%= image_tag "#{league.flag}.png" %>
      <% end %>
    <%end%>
  <% end %>
</div>
  
<div class="clearfix"></div>
