<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<%= link_to 'Edit', edit_league_path(@league), class: 'admin-link' %> |
<%= link_to 'Back', leagues_path, class: 'admin-link' %>
