<%= form_for [:admin, @league] do |f| %>

  <% if @league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @league.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div><br>

  <div class="field"> <p>Dont forget to fill "flag" field and insert "flag".png file into assets/images folder to see the league flag in the home page! 250x167 pixels</p> </div><br>

  <div class="field">
    <%= f.label :flag %><br>
    <%= f.text_field :flag %>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
