<h1>Listing leagues</h1>

<table class="table-bg">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.name %></td>
        <td><%= link_to 'Show', admin_league_path(league) %></td>
        <td><%= link_to 'Edit', edit_admin_league_path(league) %></td>
        <td><%= link_to 'Destroy', admin_league_path(league), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back |', admin_home_path, class: 'admin-link' %>
<%= link_to 'New League', new_admin_league_path, class: 'admin-link' %>

