<%= form_for :admin,  url: bulk_update_admin_league_matches_path, method: :put do %>
 
  <table class="edit-table">
 
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Channel</th>
      <th>Date/Time</th>
      <th>Destroy</th>
    </tr>
        
      <% @matches.each do |match| %>
        <%= fields_for "match[]", match do |match_form| %>
          <tr>
            <td><%= match_form.select(:home_team, options_from_collection_for_select(@teams, 'id', 'name',match.home_id) ) %></td>
            <td><%= match_form.select(:away_team, options_from_collection_for_select(@teams, 'id', 'name',match.away_id) ) %></td>
            <td><%= match_form.select(:channel, options_from_collection_for_select(@channels, 'id', 'name',match.channel_id) ) %></td>
            <td><%= match_form.text_field :date_time, value: match.date_time.strftime("%Y/%m/%d %H:%M"), class: "datetimepicker" %></td>
            <td><%= link_to 'Destroy', admin_match_path(match), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
 
  </table>
 
  <%= submit_tag 'Update' %>
<% end %>

