<%= form_for :admin, url: admin_league_matches_path, method: :post do %> 

  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :match, @match do |match_form| %>
    
   

    <div class="field">
      <%= match_form.label :home_id, "Home" %><br>
      <%= match_form.select(:home_id, options_from_collection_for_select(@teams, 'id', 'name',@match.home_id) ) %>
    </div>

    <div class="field">
      <%= match_form.label :away_id, "Away" %><br>
      <%= match_form.select(:away_id, options_from_collection_for_select(@teams, 'id', 'name',@match.away_id) ) %>
    </div>

    <div class="field">
      <%= match_form.label :channel_id, "Channel" %><br>
      <%= match_form.select(:channel_id, options_from_collection_for_select(@channels, 'id', 'name',@match.channel_id) ) %>
    </div>

    <div class="field">
      <%= match_form.label :date_time, "Date and Time" %><br>
      <%= match_form.text_field :date_time, value: @match.date_time, class: "datetimepicker" %>
    </div>
  
    <div class="actions">
      <%= match_form.submit %>
    </div>

  <%end%>

<% end %>