<h1>Editing Matches</h1>

<%= render 'form_editmbl' %>

<%= link_to 'Back', admin_league_matches_path, class: 'admin-link'%>
<%= link_to ' | Add New Match', new_admin_league_match_path(@league), class: 'admin-link' %>


