<div id="genel_sayfa">
  <h1><%= @league.name.titleize%></h1>
  <table class="mactablosu">
    
    <thead></thead>

    <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td>
            <p class="mac"><%= match.home_team.name %> - <%= match.away_team.name %></p>
            <p><%= match.date_time.strftime("%d %B %A %H:%M")%> 
            <span style="color:#1EB300"><%= match.channel.name %></span></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Back |', admin_home_path, class: 'admin-link' %>
<%= link_to bulk_edit_admin_league_matches_path(@league), class: 'admin-link' do %>
  Edit matches of <%= @league.name%>
<%end%>

