


<div id="genel_sayfa">
	<h1>Hakkımızda</h1>
		
	<p class="site">macabak!co - Futbolun yayın akışına ışık tutar. <br><br>
	
	Televizyon kanalları üzerinden izleyebileceğiniz maçların yayın akışını
	kolayca takip etmenizi sağlar. Amacımız hangi maç ne zaman hangi kanalda sorusuna cevap vermektir. Olur da
	maç saatini falan yanlış girersek bize kızmayın. Futbolda var bunlar.</p>
	
	<p class="site">macabak.co web sitemiz, sitemizde gözüken facebook sayfamız, twitter hesabımız ve
	youtube kanalımız dışında başka hiçbir site ya da bağlantıyla ilişkimiz yoktur.</p>
	
	<p class="site">macabak.co &copy;2014- Tüm hakları saklıdır.</p>
	
	<p class="site">Bu hizmeti beğendiyseniz geliştirilmesine katkıda bulunabilirsiniz.</p>
	
	<form id="bagis" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="BBSTFUP7LRL7J">
		<input type="image" src="https://www.paypalobjects.com/tr_TR/TR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - Online ödeme yapmanın daha güvenli ve kolay yolu!">
		<img alt="" border="0" src="https://www.paypalobjects.com/tr_TR/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>
