<div class="flags-content">  
  <% @leagues.each do |league| %>
    <%= div_for league do%>
      <%= link_to admin_league_matches_path(league) do %>
      <%= image_tag "#{league.flag}.png" %>
      <% end %>
    <%end%>
  <% end %>
</div>

<div id="admin-link-panel">
	<%= link_to 'Log Out |', destroy_admin_session_path, method: :delete, class: 'admin-link' %>
	<%= link_to 'Manage Channels |', admin_channels_path, class: 'admin-link' %>
	<%= link_to 'Manage Teams |', admin_teamsbyleague_path, class: 'admin-link' %>
	<%= link_to 'Manage Leagues', admin_leagues_path, class: 'admin-link' %>
</div>




