<div id="genel_sayfa">
  <h1><%= @league.name.titleize%></h1>
  <table class="mactablosu">
    
    <thead></thead>

    <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td>
            <p class="mac"><%= match.home_team.name %> - <%= match.away_team.name %></p>
            <p><%= match.date_time.strftime("%d %B %A %H:%M")%> 
            <span style="color:#1EB300"><%= match.channel.name %></span></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
