
	* { margin:0; padding:0; border:none; outline:none; }

	a, a:visited, a:hover, a:active { color:#000000; } a{ text-decoration:none; }
	
	.clearfix{ display: block; height: 0; clear: both; visibility: hidden; }
	
	body { 
		background: url(stadium7.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size:cover;
		-o-background-size: cover;
		background-size: cover;

	}

	#wrapper{width:1024px; margin:20px auto;}
	
	#leftsidebar{width:120px; float:left;}
	
	#container{width:784px; float:left;}
	
	#rightsidebar{width:120px; float:left;}
	
	#logo{width:120px; height:132px; display:block; }
	#logo:hover{background-color:transparent;}
	
	#reklam-sol{
		
		float:left;
		width:120px;
		height:600px;
		margin-top:15px;
	}
	
	#facebook{float:left; width:60px; height:60px; margin-top:33px; margin-bottom:53px;}
	
	#twitter{float:right; width:60px; height:60px; margin-top:33px; margin-bottom:53px;}

	#reklam-sag{
	float:left;
	width:120px;
	height:600px;
	}

	.flags-content{
		width:756px; margin:15px auto 0 auto;
        }

    
	
	#banner{
		width:728px; height:90px; margin:auto; display:block; margin-top:16px; margin-bottom:41px;
		
	}
	
	
	
	#footer{	
		
		width:754px; height:60px; margin:32px auto 0; border:1px solid;
		-webkit-box-shadow:-3px 8px 10px 0px rgba(138, 142, 142, 0.75);
		-moz-box-shadow:-3px 8px 10px 0px rgba(138, 142, 142, 0.75);
		box-shadow:-3px 8px 10px 0px rgba(138, 142, 142, 0.75);
		background: url(footer.png);
		opacity:0.99;
	}
	
	/*Hakkımızda ve Reklam*/
	
	#footer a{float:right; color:#f79900; font:600  15px Jura, sans-serif; margin:23px 25px 0 0;}
	
	#footer a:hover{color:#CCCCCC; background-color: transparent;}
	
	#genel_sayfa{
		border:1px solid; width:756px; height:507px;  margin:15px auto 0 auto;
		-webkit-box-shadow:-6px 8px 10px 0px rgba(138, 142, 142, 0.75);
		-moz-box-shadow:-6px 8px 10px 0px rgba(138, 142, 142, 0.75);
		box-shadow:-6px 8px 10px 0px rgba(138, 142, 142, 0.75);
		background-color:rgba(0, 0, 0, 0.8);
		
	}
	
	#bagis{
		margin:20px 0 0 50px;
	}

	p.site{
		font:400 18px Jura, Geneva, sans-serif; color: #FFFFFF; text-align:left;
		text-indent:20px; display: block; padding: 15px 50px 0 50px; line-height:130%;
	}

	h1{font:600 36px Jura, Geneva, sans-serif; display:block; text-align: center; color:#F79900; padding:20px 0 10px 0px;}

	h4.renk1{
		font:12px Jura, Geneva, sans-serif;
		font-weight:bold;
		line-height:130%;
		letter-spacing:0.15em;
		color:#BD0400;
	}
	h4.renk2{
		font:12px Jura, sans-serif;
		font-weight:bold;
		line-height:130%;
		letter-spacing:0.15em;
		color:#CC6D00;
	}
	
	table{
		margin:10px auto;
		font:14px Jura, sans-serif; color:#FFFFFF;
		border:1px solid #F79900;
		border-collapse:collapse;
	}
	
	tr{border:1px solid #F79900;}
	td{ border:1px solid #F79900; width:300px; padding:5px 5px;}
	table p.mac{color:#FFEE00; line-height:120%;}
	table p{color:#FFFFFF; line-height:120%;}
	
	#soz{
		background-color:rgba(0, 0, 0, 0.8);
		width:1024px; margin:200px auto 140px; padding-top:170px; padding-bottom:170px;
	}
	
	#soz p{
		font:600 30px Jura, Geneva, sans-serif; color: #FFFFFF; text-align:center;
	}
	
	
	
	
	/*General Mosaic Animation Styles-----------------------------------------------------------------------------------------------------------*/
	
	.details{ margin-top:-5px; margin-left:4px; display:block;  }
	
	.details p{font:18px Jura, sans-serif; color:#111111; text-align:center;}
	
	.league {
		float:left;
		position:relative;
		width:250px;
		height:167px;
		border:1px solid;
		overflow: hidden; /*a property of zoom effect for the flags*/	
	}


	/*if last-child is in the 3. column use this.*/
	.league:last-child {    
     float:left;
	}

	 /* if last-child is in the 1. or 2. column use this.*/
	/*.league:last-child {   
     float:none;
     clear:both;
	}*/

	
	/*02.2015 Updates*/
	
	.edit-table{
	
	background-color: #9E8E73;
	}
	
	.admin-link:link, .admin-link:visited, .notice, .field{
		margin-left:10px;
		font:15px Jura, Geneva, sans-serif;
		font-weight:bold;
		line-height:130%;
		letter-spacing:0.15em;
		color: #FFFFFF;

	}

	#admin-link-panel{
	margin-top: 32px;
	}

	
	.checkbox{
	}

	/* Zoom effect for flags! */

	.league img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
	}
	.league:hover img {
	    -webkit-transform:scale(1.15); /* Safari and Chrome */
	    -moz-transform:scale(1.15); /* Firefox */
	    -ms-transform:scale(1.15); /* IE 9 */
	    -o-transform:scale(1.15); /* Opera */
	     transform:scale(1.15);
	}
/* just apply some height and width to the wrapper.
.mg-image {
  width:400px;
  height:400px;
  overflow: auto;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	