<h1>Listing channels</h1>

<table class="table-bg">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td><%= link_to 'Show', admin_channel_path(channel) %></td>
        <td><%= link_to 'Edit', edit_admin_channel_path(channel) %></td>
        <td><%= link_to 'Destroy', admin_channel_path(channel), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back |', admin_home_path, class: 'admin-link' %>
<%= link_to 'New Channel', new_admin_channel_path, class: 'admin-link' %>

