<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>


<%= link_to 'Edit', edit_admin_channel_path(@channel), class: 'admin-link' %> |
<%= link_to 'Back', admin_channels_path, class: 'admin-link' %>
