<%= form_for [:admin, @team] do |f| %>

  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.collection_check_boxes :leagues, @leagues, :id, :name, {}, {} do |b| %>
      <div class="checkboxes">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <%end%>
  </div><br>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
