<h1>Listing teams</h1>

<table class="table-bg">
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Show', admin_team_path(team) %></td>
        <td><%= link_to 'Destroy', admin_team_path(team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back |', admin_teamsbyleague_path, class: 'admin-link' %>
<%= link_to 'New Team', new_admin_team_path, class: 'admin-link' %>
