
<h1>Manage Teams</h1>


<div class="flags-content">  
  <% @leagues.each do |league| %>
	    <%= div_for league do %>
	      <%= link_to admin_league_teams_path(league) do %>
	      		<%= image_tag "#{league.flag}.png" %>
	      <% end %>
	    <%end%>
  <% end %>
</div>

<div class="clearfix"></div>

<div id="admin-link-panel">
	<%= link_to "Back", admin_home_path, class: "admin-link" %>
</div>


