<!DOCTYPE html>
<html>

	<head>
	  <title>Macabakco</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	 </head>

	<body>

		    <div id="wrapper">
			
				<div id="leftsidebar">
					
					<a id="logo" href="/" ><%=image_tag "logo.png"%></a>
					<!--<a href="#" target="_blank" ><img id="reklam-sol" src="/img/reklam.png" alt="reklam-sol"/></a>-->
				</div>
			
				<div id="container">
					
					<p class="notice"><%= notice %></p> <p class="alert"><%= alert %></p>
					
					<%= yield %>
					
					<div id="footer">
							<%= link_to 'İLETİŞİM', contact_path, id: 'iletisim'%>
							<%= link_to 'REKLAM', advertisement_path, id: 'reklam'%>
							<%= link_to 'HAKKIMIZDA', about_path, id: 'hakkimzida'%>
							<%= link_to 'ANASAYFA', root_path, id: 'anasayfa'%>
					</div>
				</div>
			
				<div id="rightsidebar">
					<a href="https://www.facebook.com/macabakco" target="_blank" ><%=image_tag "facebook.png", id: "facebook"%></a>
					<a href="http://www.twitter.com/macabakco" target="_blank" ><%=image_tag "twitter.png", id: "twitter"%></a>
					<!--<a href="#" target="_blank" ><img  id="reklam-sag" src="/img/reklam.png" alt="reklam-sag"/></a>-->
				</div>
			
				<div class="clearfix"></div>
			
			
			
				<div id="soz">
					<p>"Futbol basittir. Zor olan basit futbol oynamaktır." Johan Cruyff</p>
				</div>
			</div>
	</body>
</html>